# Dataset files
dataset/
*.zip

#result files
tracking_results

# Model weights
*.pt
yolo11*.pt

# Logs and outputs
log/
*.log
nohup.out

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.cache