# Dataset files
dataset/
*.zip

#result files
tracking_results

# Model weights
*.pt
checkpoints/
model/

# Logs and outputs
detection_log/
pose_log/
smpl_rendering_results/
*.log
nohup.out

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.cache

#etc
*.png

#libaries
mmcv/